extends layout

block content
  .container
    h1.summary aww.moe is shutting down
    h4 Don't worry: your data is safe
    p On Monday 03/04/2017 aww.moe will be shutting down. After that point, only users with a valid invite code will be able to upload files to aww.moe. I will continue to host existing files <abbr title="I have nightly backups"><i>forever</i></abbr>, I will absolutely not contribute to link rot.
    p That brings me to my reasons for turning off public uploads. After a year and a bit of running aww.moe, i've come to realise just how much of a liabaility hosting other people's data on your servers is. I've not got the time or will to keep improving aww.moe's software any more, so I decided to shut down aww.moe while it was still going good.
